
$linkColor: white
$headerTextColor: white
$textColor: #464C5B
$headerBackgroundColor: #464C5B
$greyColor: #E0E0E0
$hoverColor: #8A8A8A
$bodyFont: 'Futura', 'Comic Sans MS'

/* Global Styles */
body
  color: $textColor
  background: $greyColor
  margin: 0px
  font-family: $bodyFont

a
  text-decoration: none
  color: $linkColor
  -webkit-transition: color .2s ease-in
  -moz-transition: color .2s ease-in
  -o-transition: color .2s ease-in
  transition: color .2s ease-in
  &:visited
    color: $linkColor
  &:hover
    color: $hoverColor
    text-shadow: 1px 2px 1px black
  
/* Main Menu */
ul.menu
  font-size: 1.3em
  list-style-type: none
  padding: 0px
  li
    display: inline
    margin: 0px 15px

/* div styles */
.header
  width: 100%
  min-width: 1035px
  background: #464C5B
  color: white
  height: 130px
  .header_container
    width: 1035px
    margin: 0px auto
    padding: 0px 5px
    .logo
      float: left
      background-repeat: no-repeat
      margin-top: 30px
      border: 0px
      img
        width: 320px
        height: 80px
        border: 0px
    .menu_container
      float: right
      position: relative
      top: -50px

.footer
  background: $headerBackgroundColor
  width: 100%
  min-width: 1035px
  color: $headerTextColor
  height: 80px
  .footer_container
    width: 1035px
    margin: 0px auto
    padding: 0px 5px
    .contact_info
      margin-top: 10px
      text-align: right
    .icon_row
      margin-top: 10px
      .icon
        width: 55px
        height: 55px

.postFooter
  margin: 20px 0px
  .copyright
    width: 1050px
    margin: 0px auto
    text-align: right
    font-size: .9em

.roundHeader
  background: $headerBackgroundColor
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  color: $headerTextColor
  text-align: center
  margin: 0px auto
  h2
    padding: 5px 0px

.headerInvisible
  margin: 0px auto

.content
  width: 1035px
  margin: 0px auto 20px auto
  padding: 0px 5px
  .columnLeft
    width: 325px
    float: left
    margin-right: 30px
  .columnMiddle
    width: 325px
    float: left
    margin-right: 30px
  .columnRight
    float: left
    width: 325px
      

.clear
  clear: both

.center
  margin: 0px auto 0px auto

/* Font Styles */
.text_right
  text-align: right

.text_left
  text-align: left

.text_center
  text-align: center

.text_large
  font-size: 1.5em

.content_text
  font-size: 1.1em

.bold
  font-weight: bold

.no_margin_right
  margin-right: 0px

.grey
  color: $greyColor

/* General Styles */
.right
  float: right

.left
  float: left

.spacer30
  margin-bottom: 30px

.mlr50
  margin: 0px 50px