/* Global Styles */
body {
  color: #464c5b;
  background: #e0e0e0;
  margin: 0px;
  font-family: "Futura", "Comic Sans MS"; }

a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in; }
  a:visited {
    color: white; }
  a:hover {
    color: #8a8a8a;
    text-shadow: 1px 2px 1px black; }

/* Main Menu */
ul.menu {
  font-size: 1.3em;
  list-style-type: none;
  padding: 0px; }
  ul.menu li {
    display: inline;
    margin: 0px 15px; }

/* div styles */
.header {
  width: 100%;
  background: #464c5b;
  color: white;
  height: 130px; }
  .header .logo {
    float: left;
    background-repeat: no-repeat;
    margin: 30px 0px 0px 50px;
    border: 0px; }
    .header .logo img {
      width: 320px;
      height: 80px;
      border: 0px; }
  .header .menu_container {
    float: right;
    margin-right: 50px;
    position: relative;
    top: -50px; }

.footer {
  background: #464c5b;
  width: 100%;
  color: white;
  height: 80px; }
  .footer .contact_info {
    margin: 10px 50px 0px;
    text-align: right; }
  .footer .icon_row {
    margin: 10px 50px; }
    .footer .icon_row .icon {
      width: 55px;
      height: 55px; }

.roundHeader {
  background: #464c5b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 0px auto; }
  .roundHeader h2 {
    padding: 5px 0px; }

.headerInvisible {
  margin: 0px auto; }

.content {
  width: 1000px;
  margin: 0px auto; }
  .content .columnLeft {
    width: 325px;
    float: left;
    margin-right: 20px; }
  .content .columnMiddle {
    width: 325px;
    float: left;
    margin-right: 20px; }
  .content .columnRight {
    float: left;
    width: 310px; }

.clear {
  clear: both; }

.center {
  margin: 0px auto 0px auto; }

/* Font Styles */
.text_right {
  text-align: right; }

.text_left {
  text-align: left; }

.text_center {
  text-align: center; }

.text_large {
  font-size: 1.5em; }

.content_text {
  font-size: 1.1em; }

.bold {
  font-weight: bold; }

.no_margin_right {
  margin-right: 0px; }

.grey {
  color: #e0e0e0; }

/* General Styles */
.right {
  float: right; }

.left {
  float: left; }

.mlr50 {
  margin: 0px 50px; }
