- content_for :title do
  Benjamin Harris

.content
  .columnLeft
    .roundHeader
      %h2 Introduction

    %p
      Im Benjamin, a designer who is very passionate about finding creative and unique solutions to everyday needs. 
      My background is in video production. The art of telling a story through both visual and audio elements is where my passions lay. 
      I am a do it all man, who enjoys every step of a project from concept to completion. So if you find yourself in need of a someone with my talents, please email me.

    %p.right
      \- Benjamin Harris
  .columnMiddle
    .roundHeader
      %h2 Featured Work
  .columnRight
    .roundHeader
      %h2 Skill Set
    = image_tag('/images/BenHarrisGraph.png')
