- content_for :title do
  Benjamin Harris

.content
  .columnLeft
    .roundHeader
      %h2 Introduction

    %p
      Im Benjamin, a designer who is very passionate about finding creative and unique solutions to everyday needs. 
      My background is in video production. The art of telling a story through both visual and audio elements is where my passions lay. 
      I am a do it all man, who enjoys every step of a project from concept to completion. So if you find yourself in need of a someone with my talents, please email me.

    %p.right
      \- Benjamin Harris
  .columnMiddle
    .roundHeader
      %h2 Featured Work
    %object{:type => 'application/x-shockwave-flash', :width => '350', :height => '260', :data => 'http://vimeo.com/hubnut/?user_id=user5477458&color=00adef&background=000000&fullscreen=1&slideshow=1&stream=uploaded_videos&id&server=vimeo.com'}
      %param{:name => 'quality', :value => 'best'}
      %param{:name => 'allowfullscreen', :value => 'true'}
      %param{:name => 'allowscriptaccess', :value => 'always'}
      %param{:name => 'movie', :value => 'http://vimeo.com/hubnut/?user_id=user5477458&color=00adef&background=000000&fullscreen=1&slideshow=1&stream=uploaded_videos&id&server=vimeo.com'}
  .columnRight
    .roundHeader
      %h2 Skill Set
    = image_tag('/images/BenHarrisGraph.png')

  .clear
