.footer
	.left
		.icon_row
			= image_tag('/images/facebook-icon.png', :class => 'icon')
			= image_tag('/images/vimeo-icon.png', :class => 'icon')
			= image_tag('/images/linkedIn_icon.png', :class => 'icon')
	.right
		.contact_info
			%font.text_large benjamin.harris123@gmail.com
			%br
			%font.text_large 970.396.7316

	.clear